.navigate{
    margin-top: 30px;
    margin-right: 30px;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    gap:30px;
    text-align: center;
}

.nav{
    color:#383838;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}
.nav:hover{
       text-decoration:underline;
    }

.buttonExit{
    padding: 10PX 20px;
    font-size: 25px;
    color: white;
    background-color: #4285F4;
    border-radius: 10px;
}

.logo{
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 100px;
    font-weight: 500;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    letter-spacing: -15px;
}

.g{
    color:#4285F4;
}

.o1{
    color: #EA4335;
}
.o2{
    color: #FBBC05;
}
.l{
    color: #34A853;
}
.search-form{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    width: 510px;
}

.input{
    padding:5px 10px;
    width: 500px;
    height: 50px;
    
    border: 2px solid rgb(176,176,176);
    border-radius: 50px;
}

.svgSearch{
    position: absolute;
    left: 20px;
    top:20px;
    cursor: pointer;
}

.keyboard{
    color: #505050;
}

.icon {
    position: absolute;
    top:20px;
    right: 100px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 24px;
    color: #666;
    transition: color 0.3s;
  }

  .icon:hover {
    color: #000;
  }

  .icon-mic{
    position: absolute;
    top:20px;
    right: 60px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 24px;
    color: #4285F4;
    transition: color 0.3s;
  }

  .icon-mic:hover{
    color: #000;
  }

  .icon-camera{
    position: absolute;
    top:20px;
    right: 20px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 24px;
    color: #4285F4;
    transition: color 0.3s;
  }

  .icon-camera:hover{
    color: #000;
  }